<template>
    <div class="jumbotrol">
        <h1>Hello</h1>
    </div>
</template>

<script>
    import BaseComponent from "../base/BaseComponent";

    export default {
        name: "LoginModal",
        extends: BaseComponent,
        methods: {

        }
    }
</script>

<style scoped>

</style>
