<template>
    <div class="header-text">
        <div class="">
            <h1>
                <p> Apple Store is now available</p>
                <p> on BUILD MART</p>
                <p> with 15% discount</p>
                <button class="btn btn-dark btn-sm" href="#">Shop now</button>
            </h1>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderMEtaComponent"
    }
</script>

<style >

    .header-text h1 {
        color: white;
        /*position: absolute;*/
        top: 75%;
        left: 6%;
    }

     h1 {
        font-size: 36px;
    }
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
</style>
