<template>
    <div class="container-fluid contain-slider">
        <div class="row full-screen-height">
            <div class="col-12">
                <main-menu class="float-right"></main-menu>
            </div>
            <div class="col-12">
                <nav-search class=""></nav-search>
            </div>
            <div class="col-12">
                <header-meta></header-meta>
            </div>
        </div>
        <header-slider></header-slider>

    </div>
</template>

<script>
    // import {EventBus} from "../../eventbus";


    export default {
        props: {
            tagLine: {
                type: String,
                default: 'Top Bar Tagline Here'
            },
        },

        data() {
            return {
                user: null,
            }
        },

    }
</script>


<style >
    @import "TopHeaderComponent.css";
</style>
