
<script>
    export default {
        name: "BaseComponent",
        methods: {

            network(){
                return 'A';
            }

        }
    }
</script>

<style scoped>

</style>
