<template>
    <div class="nav-search mb-5">
        <div class="container-fluid">
            <img class="img-fluid" :src="logo">
            <p>Get your <strong>Building Products &amp; Services</strong> </p>
            <p>through +5000 providers </p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search this blog">
                <div class="input-group-append">
                    <button class="btn " type="button">
                        <i class="fa fa-search text-danger"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NetworkService from "../../../services/network.service";
    const network = new NetworkService()
    export default {
        name: "HeaderSearchComponent",
        data() {
            return {
                logo: String,

            }
        },
        methods: {
            async getLogo () {
               this.logo = await network.getSiteLogo();
                console.log('logo: ', this.logo)
            },

        },
        created() {
            this.getLogo ()
        }
    }
</script>

<style scoped>
    @import "HeaderSearchComponent.css";
</style>
