<template>
    <nav  class="navbar navbar-expand-lg navbar-light bg-light border-radius ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  padding-between"v-for="(item, index) in menusAssigned">
                    <a class="nav-link" >{{item.title}} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active icons  padding-between">
                    <a href="">
                        <i class="nav-link fa fa-shopping-cart icons-color" ></i>
                    </a>
                </li>
                <li class="nav-item active icons  padding-between">
                    <a href=""> <i class="nav-link fa fa-heart icons-color" ></i></a>
                </li>
                <li class="nav-item active icons  padding-between">
                    <a href=""> <i class="nav-link fa fa-user icons-color" ></i></a>
                </li>
            </ul>
        </div>
    </nav>

</template>

<script>
    import NetworkService from "../../../services/network.service";

    const networkService = new NetworkService();
    export default {
        name: "MenuComponent",
        data: function () {
            return {
                menusAssigned: []
            }
        },
        methods:{
            async getMenus(){
                const menus = await networkService.getMenus();
                this.menusAssigned = menus
                console.log({menus})

            }
        },

        created:function(){
            this.getMenus()
        }

    }
</script>

<style lang="css">
    @import "MenuComponent.css";
</style>
