.properties{
    border-radius: 10px;
    margin-right: 2rem;
}
.padding-inside{
    padding-right: 1rem;
    padding-left: 1rem;
}
.icons{
    margin-top: 5px;

}
.border-radius{
    border-radius: 10px;
    margin-top: 10px;
}
.padding-between{
    padding: 5px;
}
.icons-color{
    color: #D3152B !important
}
