<template>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1> Login </h1>

                <!--                <form>-->
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="text" id="email" v-model="loginForm.email" class="form-control"
                           value="email@example.com">
                </div>
                <div class="form-group"
                    <label for="pwd">Password:</label>
                    <input type="password" v-model="loginForm.password" id="pwd" class="form-control">
                </div>

                <button v-on:click="onLogin()" type="submit" class="btn btn-primary">Login</button>
                <!--                </form>-->

            </div>
            <div class="col-6">
                <h1>Register</h1>
                <div class="form-group">
                    <label>Email address:</label>
                    <input type="text" v-model="signInForm.email" class="form-control"
                           value="email@example.com">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" v-model="signInForm.password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" v-model="signInForm.username" class="form-control">
                </div>
                <div class="form-group">
                    <label>Phone Number:</label>
                    <input type="text" v-model="signInForm.phoneNo" class="form-control">
                </div>

                <button v-on:click="onSignIn()" type="submit" class="btn btn-primary">Login</button>

            </div>
        </div>
    </div>
</template>

<script>
    // import {EventBus} from "../../eventbus";

    export default {
        name: "SignInPageComponent",

        data() {
            return {
                loginForm: {
                    email: "",
                    password: ""
                },

                signInForm: {
                    username: "",
                    email: "",
                    password: "",
                    phoneNo: "",
                },
            }
        },




    }
</script>

<style scoped>

</style>
