<template>
<!--    <div v-if="isLoading" style="height: 100%" class="container d-flex align-items-center justify-content-center">-->
<!--        <div class="spinner-border" role="status">-->
<!--            <span class="sr-only">Loading...</span>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container">

        <!--  *********************** TOP BANNER AREA ************************** -->

        <div class="row justify-content-start">
            <div class="col-2 pr-0">
                <div class="row">
                    <div class="col-12 home-side-banner">
                        <router-link to="/sign-in" class="p-0 nav-link">
                            Sign-In
                        </router-link>
                        <button v-on:click="testPost()" type="submit" class="btn btn-primary">Login</button>
<!--                        <banner :banners="mainSlides"></banner>-->
                    </div>
                </div>

            </div>

        </div>

        <!--  *********************** ON SALE ITEMS AREA ************************** -->



        <!--  *********************** FEATURED BANNER AND FEATURED ITEMS AREA ************************** -->



        <!--  *********************** CATEGORIES AREA START  ************************** -->


    </div>
</template>

<style lang="scss">
    /*@import "../../../sass/home";*/
</style>

<script>
    import NetworkService from "../../services/network.service";
    const networkService = new NetworkService();

    export default {



        data() {
            return {
                featuredItems: [],

                saleItems: [],

                categories: [],

                mainSlides: [],

                featuredSlides: [],

                isLoading: false
            }
        },
        methods: {
            say: function (message) {
                alert(message)
            },
            testApi: function(){
                networkService.testGet().then((response) => {
                     console.log('Hi', {response})
                })
            },
            async testPost() {
                const a = {
                    "name": "Bilal",
                    "job": "Saeed"
                }

                const b = await networkService.testPost(a);
                console.log({b})
            }
        }




    }
</script>
