<template>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ftr-sec">
                        <h5>About max store</h5>
                        <p>بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة وتمجيد الألم نشأت بالفعل، وسأعرض
                            لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-sec">
                        <h5>navigate</h5>
                        <ul>
                            <li><a href="JavaScript:;">Facebook <span>&#9679;</span></a></li>
                            <li><a href="JavaScript:;">instagram <span>&#9679;</span></a></li>
                            <li><a href="JavaScript:;">download for android <span>&#9679;</span></a></li>
                            <li><a href="JavaScript:;">download for iphone <span>&#9679;</span></a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-sec">
                        <h5>navigate</h5>
                        <ul>
                            <li><router-link to="/">home <span>&#9679;</span></router-link></li>
                            <li><router-link to="/shop-page">shop <span>&#9679;</span></router-link></li>
                            <li><a href="JavaScript:;">vendors <span>&#9679;</span></a></li>
                            <li><a href="JavaScript:;">account <span>&#9679;</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-sec ">
                        <div class="ftr-logo">
<!--                            <img :src="asset('/images/FooterLogo.png')">-->
                        </div>
                        <ul>
                            <li>info@maxstore.com <i class="fa fa-envelope" aria-hidden="true"></i></li>
                            <li>0770123456,0770123456 <i class="fa fa-mobile" aria-hidden="true"></i></li>
                            <li>Address here full <i class="fa fa-map-marker" aria-hidden="true"></i></li>

                            <li></li>

                            <li></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="ftr-bottm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="go-top">
                            <a href="JavaScript:;">
                                <button class="btn-top">
                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>2020 &#169; All rights reserved</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    export default {
        name: "FooterComponent"
    }
</script>

<style lang="scss">
    /*@import "resources/sass/footer/footer.scss";*/
</style>
