<template>
    <div class="category-header-2">
        <div class="custom_container">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-center pad-30-30">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle"> Building Products</a>
                        </li>
                        <li class="nav-item dropdown @if(isset($page) && $page=='designers') active @endif">
                            <a class="nav-link">Designers</a>
                        </li>
                        <li class="nav-item dropdown @if(isset($page) && $page=='contractors') active @endif">
                            <a class="nav-link">Contractors</a>
                        </li>
                        <li class="nav-item dropdown @if(isset($page) && $page=='consultants') active @endif">
                            <a class="nav-link">Consultants</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link">Sellers</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
    import NetworkService from "../../../services/network.service";
    const network = new NetworkService()
    export default {
        name: "HeaderBarCategories",
        data() {
            return {
                logo: String,

            }
        },
        methods: {
            async getLogo () {
                this.logo = await network.getSiteLogo();
                console.log('logo: ', this.logo)
            },

        },
        created() {
            this.getLogo ()
        }
    }
</script>

<style scoped>
    @import "HeaderBarCategories.css";
</style>
